@charset "uft-8";

@use 'base' as *;

/* header */
header.admin {
  background: $color-main-bk;

  .top-menu .btn-hd-login {
    background: $color-main-r;
    color: $color-main-w;

    &:hover {
      background: $color-main-lr;
    }
  }
}

/* container */
.container {
  .inner {
    display: flex;
    padding: 0 10px;
  }

  main {
    width: calc(100% - pc-vw(222));

    .title-box {
      padding: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-main-g;
    }

    .main-title {
      margin-bottom: 0;
    }

    form {
      padding: 60px;
    }
  }
}

/* aside */
#side-menu {
  width: pc-vw(222);
  background: $color-main-lg;

  p {
    padding: 60px 30px;
    line-height: 1.4;
  }

  .menu {
    li {
      border-bottom: 1px solid $color-main-g;
      text-align: center;
    }

    a {
      display: block;
      padding: 12px 0;
      font-size: $fs-nav;
    }

    // act
    li.act {
      background: $color-main-bk;

      a {
        color: $color-main-w;
      }
    }
  }
}

/* 영화 리스트 */
#movie-list {
  .ml-con {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      p {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          width: 30px;
          height: 30px;
          background: url('../images/sub/ml-search-icon.png') no-repeat center / cover;
        }
      }

      input {
        max-width: 360px;
        width: pc-vw(360);
        padding: 10px 40px 10px 10px;
        border: none;
        border-bottom: 1px solid $color-main-g;
      }
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;

      li {
        width: 280px;
        background: $color-main-lg;
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba($color: $color-main-bk, $alpha: 0.25);
      }

      .img-box {
        img {
          width: 100%;
        }
      }

      .txt-box {
        padding: 20px;

        h3 {
          margin-bottom: 20px;
          font-size: $fs-basic-big;
        }

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 3;
          line-height: 1.4;
        }
      }
    }
  }
}

/* 영화 상세보기/등록하기 */
#movie-detail {
  .md-con {
    form>div {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    label,
    input,
    select,
    textarea {
      display: block;
      width: 100%;
    }

    input,
    select,
    textarea {
      padding: 14px 18px;
      border: 1px solid $color-main-g;
      border-radius: 13px;
    }

    input[type="file"] {
      padding: 0;
      border: none;
      border-radius: 0;
    }

    .tit {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      gap: 10px;
    }

    li {
      input {
        display: none;
      }

      label {
        padding: 14px 18px;
        border: 1px solid $color-main-g;
        border-radius: 13px;
        transition: 0.3s;
      }

      input:checked+label {
        background: $color-main-lr;
        border-color: $color-main-lr;
        color: $color-main-w;
      }
    }

    .btn-submit {
      border-color: $color-main-r;
      transition: 0.3s;
    }
  }
}