@charset "uft-8";

/* html 폰트 크기 */
html {
  font-size: 16px;
}

/* 변수 */
// inner
$inner: 1400px;
// color
$color-main-r: #ED0E02;
$color-main-lr: #FC5555;
$color-main-pc: #FFC2AF;
$color-main-y: #FFEE53;
$color-main-p: #D78BF9;
$color-main-bk: #121212;
$color-main-dg: #242424;
$color-main-g: #A7A7A7;
$color-main-lg: #F4F4F4;
$color-main-w: #fff;
// font-size
$fs-basic : 1rem; // 16px
$fs-basic-big : 1.25rem; // 20px
$fs-nav : 1.375rem; // 22px
$fs-title1 : 2.625rem; // 42px
$fs-title2 : 2.125rem; // 34px

/* 믹스인 */
@mixin title1() {
  margin-bottom: 50px;
  font-family: 'Cafe24Surround', 'NanumSquareRound', 'Nanum Gothic', sans-serif;
  font-size: $fs-title1;
  font-weight: bold;
}

@mixin title2() {
  margin-bottom: 40px;
  font-family: 'Cafe24Surround', 'NanumSquareRound', 'Nanum Gothic', sans-serif;
  font-size: $fs-title2;
  font-weight: bold;
}

@mixin mo-title1() {
  margin-bottom: mo-rem(60);
  font-family: 'Cafe24Surround', 'NanumSquareRound', 'Nanum Gothic', sans-serif;
  font-size: mo-rem(44);
  font-weight: bold;
}

@mixin btn($br: 0px) {
  display: inline-block;
  padding: 14px 28px;
  background: none;
  border: 1px solid $color-main-bk;
  border-radius: $br;

  &:hover {
    background: $color-main-bk;
    color: $color-main-w;
  }
}

/* 함수 */
@function mo-rem($px) {
  @return #{calc($px / 32)}rem;
}

@function mo-vw($px) {
  @return #{calc($px / 768 * 100)}vw;
}

@media screen and (max-width: 1023px) and (min-width: 769px) {

  /* html 폰트 크기 */
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  /* html 폰트 크기 */
  html {
    font-size: 32px;
  }
}

@media screen and (max-width: 620px) {

  /* html 폰트 크기 */
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {

  /* html 폰트 크기 */
  html {
    font-size: 16px;
  }
}