@charset "uft-8";

@use 'base' as *;

/* 기본 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'NanumSquareRound', 'Nanum Gothic', sans-serif;
  font-size: $fs-basic;
  color: $color-main-bk;
  word-break: keep-all;
}

button {
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
  transition: 0.3s;
}

a {
  color: $color-main-bk;
  text-decoration: none;
  transition: 0.3s;
}

/* 공통 */
.pc-show {
  display: block !important;
}

.mo-show {
  display: none !important;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: $inner;
  width: 100%;
  margin: auto;
  padding: 80px 10px;
}

.btn {
  @include btn();
}

.btn-line {
  @include btn-line();
}

.btn2 {
  @include btn2();
}

.main-title {
  @include title1();
}

/* header */
header {
  position: relative;
  z-index: 100;
  background: linear-gradient(to left, #FDAAAB, #EBC5FB);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
  }

  .logo {
    width: 110px;

    img {
      width: 100%;
    }
  }

  .top-menu {
    .btn-hd-login {
      background: none;
      border: 1px solid $color-main-bk;
      color: $color-main-bk;

      &:hover {
        background: $color-main-bk;
        color: $color-main-w;
      }
    }
  }
}

/* nav */
nav {
  position: relative;
  z-index: 10;
}

.gnb {
  display: flex;
  gap: 20px;
  text-align: center;
  transition: 0.5s;

  >li {
    position: relative;
  }

  a {
    font-size: $fs-nav;
    font-weight: bold;

    &:hover {
      color: $color-main-r;
    }
  }

  .sub {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    width: 160px;

    a {
      display: block;
      padding: 15px 0;
      font-weight: normal;
    }
  }
}

// act
header.act {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 300px;
    background: $color-main-w;
    border-top: 1px solid $color-main-bk;
    box-shadow: 0 10px 10px rgba($color: $color-main-bk, $alpha: 0.1);
  }

  .gnb {
    gap: 104px;
  }

  .gnb .sub {
    display: block;
  }
}

/* footer */
footer {
  background: $color-main-dg;
  font-family: 'Nanum Gothic', 'NanumSquareRound', sans-serif;

  .inner {
    padding: 30px 10px;
  }

  .f-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    a {
      color: $color-main-w;
      font-size: $fs-basic-big;

      &:hover {
        color: $color-main-r;
      }
    }

    li.bold a {
      font-weight: bold;
    }
  }

  .f-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    width: 138px;
    margin-right: 78px;

    img {
      width: 100%;
    }
  }

  .desc {
    color: $color-main-g;
    line-height: 1.4;
  }

  .sns {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    right: 10px;

    li {
      width: 40px;
    }

    img {
      width: 100%;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        border-color: $color-main-w;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {

  /* header */
  header {
    .inner {
      flex-wrap: wrap;
      gap: 20px 0;
    }

    .logo {
      order: 1;
    }

    nav {
      order: 3;
      width: 100%;
    }

    .top-menu {
      order: 2;
    }
  }

  // act
  header.act {
    .gnb {
      gap: 74px;
    }
  }

  /* nav */
  .gnb {
    justify-content: center;
  }

  /* footer */
  footer {
    .logo {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {

  /* 공통 */
  .pc-show {
    display: none !important;
  }

  .mo-show {
    display: block !important;
  }

  .btn-sub {
    padding: 22px 10px;
    border-radius: 12px;
    font-size: mo-rem(32);
  }

  .main-title {
    @include mo-title1();
    text-align: center;
  }

  /* header */
  header {
    .logo {
      width: mo-vw(160);
    }

    .top-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: mo-rem(40);

      li {
        width: mo-rem(40);
      }

      img {
        width: 100%;
      }
    }
  }

  // act
  header.act {
    &::after {
      display: none;
    }

    .gnb .sub {
      display: none;
    }
  }

  // /* nav */
  nav {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding: mo-rem(60);
    background: $color-main-w;
    transition: 0.5s;

    .btn-close {
      position: absolute;
      top: mo-rem(60);
      right: mo-rem(60);
      font-size: mo-rem(40);
      font-weight: bold;
    }

    .btn-login {
      margin-bottom: mo-rem(100);
      font-size: mo-rem(40);
      font-weight: bold;

      .fa-solid {
        vertical-align: bottom;
      }
    }
  }

  .gnb {
    display: block;
    text-align: left;

    li {
      margin-bottom: mo-rem(50);
    }

    >li {
      margin-bottom: mo-rem(50);

      &:last-child {
        margin-bottom: 0;
      }
    }

    // act
    >li.act {
      color: $color-main-r;

      >a::after {
        transform: translateY(-50%) rotate(180deg);
        color: $color-main-bk;
      }

      .sub {
        display: block;
      }
    }

    >li>a {
      display: block;
      position: relative;
      font-size: mo-rem(40);

      &::after {
        content: '\f107';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        color: $color-main-g;
        font-family: "Font Awesome 7 Free";
        font-weight: bold;
      }
    }

    .sub {
      position: static;
      transform: none;
      width: 100%;

      li {
        padding: 0 mo-rem(26);

        &:first-child {
          margin-top: mo-rem(50);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        padding: 0;
        font-size: mo-rem(32);
      }
    }
  }

  // act
  nav.act {
    left: 0;
  }

  /* footer */
  footer {
    .f-nav {
      flex-wrap: wrap;
      gap: mo-rem(15);

      a {
        font-size: mo-rem(22);
      }
    }

    .f-box {
      display: block;
    }

    .logo {
      width: mo-rem(169);
      margin: 0 0 mo-rem(20);
    }

    .desc {
      font-size: mo-rem(24);
    }
  }
}