@charset "uft-8";

@use 'base' as *;

/* common */
.main {
  .main-title {
    @include title1();
  }
}

/* 영화 예매 */
.main-reservation {
  .inner {}
}

/* 극장 */
.main-theater {
  .inner {}
}

/* 영화 소개 */
.main-introduce {
  position: relative;
  // height: 610px;
  height: 580px;

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
  }

  .box {
    padding: 20px;
    background: rgba($color: $color-main-w, $alpha: 0.8);
    border-radius: 20px;
  }

  .main-title {
    margin-bottom: 16px;
  }

  .main-desc {
    margin-bottom: 32px;
    line-height: 1.4;
  }

  .list {
    margin-bottom: 32px;

    li {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-bottom: 16px;
      font-size: $fs-basic-big;
      font-weight: bold;
    }

    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      input {
        display: none;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 40px;
        border: 1px solid $color-main-p;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
      }

      input:checked+label {
        background: $color-main-p;
      }
    }
  }

  .btn-round10 {
    width: 100%;
    background: linear-gradient(to left, #FDAAAB, #EBC5FB);
    border: none;
    text-align: center;
  }
}

/* 이벤트/혜택 */
.main-event {
  .main-title {
    text-align: center;
  }

  .swiper-slide {
    .img-box {
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    .txt-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: $fs-basic-big;
      }

      p {
        color: $color-main-g;
      }
    }
  }
}

/* 액티비티 */
.main-activity {
  background: linear-gradient(to bottom, #CF8DFB 0%, #B98EFC 40%, #9D91FF 100%);

  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0 46px;
  }

  .main-title {
    width: 100%;
    color: $color-main-w;
  }

  .big-box {
    width: 30%;

    .img-box {
      margin-bottom: 40px;
    }

    .img-box img {
      width: 100%;
    }

    .btns {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    .btn {
      width: calc(50% - 10px);
      padding: 14px 10px;
      font-size: $fs-basic-big;
      text-align: center;

      &::after {
        content: '';
        display: inline-block;
        margin-left: 10px;
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        vertical-align: bottom;
      }
    }

    .btn-blue {
      background: #2E80FB;
      border-color: #2E80FB;
      color: $color-main-w;

      &::after {
        width: 20px;
        height: 20px;
        background-image: url('../images/main/activity-btn01.png');
      }

      &:hover {
        background: $color-main-w;
        border-color: $color-main-w;
        color: $color-main-bk;
      }

      &:hover:after {
        background-image: url('../images/main/activity-btn01_hover.png');
      }
    }

    .btn-white {
      background: $color-main-w;
      border-color: $color-main-w;

      &::after {
        width: 23px;
        height: 19px;
        background-image: url('../images/main/activity-btn02.png');
      }

      &:hover {
        background: #2E80FB;
        border-color: #2E80FB;
        color: $color-main-w;
      }

      &:hover:after {
        background-image: url('../images/main/activity-btn02_hover.png');
      }
    }
  }

  .small-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 30% - 46px);
    color: #fff;

    strong {
      display: block;
      margin-bottom: 10px;
    }

    h3 {
      position: relative;
      @include title2();
    }

    h3::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #9747FF;
    }

    p {
      line-height: 1.4;
    }

    .img-list {
      display: flex;
      justify-content: space-between;
    }

    .img-list li {
      width: calc(25% - 20px);
      cursor: pointer;
    }

    .img-list img {
      width: 100%;
      margin-bottom: 10px;
      border: 4px solid transparent;
      border-radius: 30px;
      transition: 0.3s;
    }

    .img-list p {
      text-align: center;
      font-weight: bold;
    }

    // act
    .img-list li.act img {
      border-color: $color-main-r;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {

  /* 액티비티 */
  .main-activity {
    .big-box {
      .btns {
        flex-wrap: wrap;

        .btn {
          width: 100%;
        }
      }
    }

    .small-box {
      .img-list {
        li {
          width: calc(25% - 10px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  /* 공통 */
  .main {
    .main-title {
      @include mo-title1();
      text-align: center;
    }

    .main-desc {
      text-align: center;
    }
  }

  /* 영화 소개 */
  .main-introduce {
    height: auto;

    video {
      height: mo-vw(432);
    }

    .inner {
      position: static;
      transform: none;
    }

    .main-title {
      margin-bottom: mo-rem(32);
    }

    .main-desc {
      margin-bottom: mo-rem(64);
    }

    .box {
      width: 100%;
      margin-top: -(mo-rem(32));
      padding: 80px 40px;
      background: $color-main-w;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }

    .list {
      margin-bottom: mo-rem(64);

      li {
        margin-bottom: mo-rem(32);

        h3 {
          margin-bottom: mo-rem(32);
        }

        p {
          justify-content: space-between;
          gap: 0;

          label {
            width: 32%;
            height: auto;
            padding: mo-rem(16) 0;
          }
        }
      }
    }
  }

  /* 이벤트/혜택 */
  .main-event {
    .inner {
      padding: 80px 0;
    }

    .swiper-slide {
      // width: 600px;
      width: 78%;

      .txt-box {
        display: block;

        h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 20px;
        }
      }
    }
  }

  /* 액티비티 */
  .main-activity {
    .inner {
      display: block;
    }

    .big-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin-bottom: mo-rem(32);

      .img-box {
        width: 49%;
        margin-bottom: 0;
      }

      .btns {
        flex-direction: column;
        gap: mo-rem(32);
        width: 49%;
      }

      .btn {
        width: 100%;

        &::after {
          width: mo-rem(28);
          height: mo-rem(28);
          vertical-align: baseline;
        }
      }
    }

    .small-box {
      width: 100%;

      .txt-box {
        margin-bottom: mo-rem(32);
      }

      strong {
        position: absolute;
        top: 190px;
        right: 0;
        width: 49%;
      }

      h3 {
        position: absolute;
        top: 230px;
        right: 0;
        width: 49%;
        margin-bottom: 0;
        font-size: mo-rem(32);
        line-height: 1.4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
      }

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
      }

      .img-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: mo-rem(30);

        li {
          overflow: hidden;
          position: relative;
          max-width: mo-rem(300);
          width: calc(50% - 15px);
          height: mo-rem(120);
          border-radius: 30px;
          border: 4px solid transparent;
          transition: 0.3s;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: $color-main-bk, $alpha: 0.5);
          }
        }

        // act
        li.act {
          background-color: $color-main-r;

          img {
            border: none;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: none;
        }

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .main-activity .small-box strong {
    top: 160px;
  }

  .main-activity .small-box h3 {
    top: 200px;
  }
}

@media screen and (max-width: 480px) {
  .main-activity .small-box strong {
    top: 140px;
  }

  .main-activity .small-box h3 {
    top: 170px;
  }
}