@charset "UTF-8";
/* html 폰트 크기 */
html {
  font-size: 16px;
}

/* 변수 */
/* 믹스인 */
/* 함수 */
@media screen and (max-width: 1023px) and (min-width: 769px) {
  /* html 폰트 크기 */
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* html 폰트 크기 */
  html {
    font-size: 32px;
  }
}
@media screen and (max-width: 620px) {
  /* html 폰트 크기 */
  html {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  /* html 폰트 크기 */
  html {
    font-size: 16px;
  }
}
/* 장바구니 cart.php */
#cart .cart-con {
  background: #F4F4F4;
}
#cart .cart-con .con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#cart .cart-con .movies {
  max-width: 686px;
  width: 49vw;
}
#cart .cart-con .movies li {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  background: #121212;
}
#cart .cart-con .movies li::before, #cart .cart-con .movies li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 25px;
  height: 210px;
  background: url("../images/sub/cart-movie-icon01.png") no-repeat center/cover;
}
#cart .cart-con .movies li::before {
  left: -13px;
}
#cart .cart-con .movies li::after {
  right: -13px;
}
#cart .cart-con .movies .img-box {
  position: relative;
  width: 150px;
}
#cart .cart-con .movies .img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
  width: 8px;
  height: 220px;
  background: url("../images/sub/cart-movie-icon02.png") no-repeat center/cover;
}
#cart .cart-con .movies img {
  display: block;
  width: 100%;
}
#cart .cart-con .movies .txt-box {
  width: calc(100% - 150px);
  padding: 0 30px;
}
#cart .cart-con .movies .m-tit {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}
#cart .cart-con .movies dl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#cart .cart-con .movies dt,
#cart .cart-con .movies dd {
  margin-bottom: 10px;
}
#cart .cart-con .movies dt:last-of-type,
#cart .cart-con .movies dd:last-of-type {
  margin-bottom: 0;
}
#cart .cart-con .movies dt {
  width: 110px;
  color: #A7A7A7;
}
#cart .cart-con .movies dd {
  width: calc(100% - 110px);
  color: #fff;
  text-align: right;
}
#cart .cart-con .movies .m-price {
  display: block;
  color: #fff;
  font-size: 1.25rem;
  text-align: right;
  font-weight: bold;
}
#cart .cart-con .amount {
  max-width: 580px;
  width: 41.4285714286vw;
}
#cart .cart-con .amount .price {
  margin-bottom: 40px;
  padding: 30px 40px;
  background: #fff;
}
#cart .cart-con .amount .a-tit {
  margin-bottom: 20px;
  font-size: 1.875rem;
}
#cart .cart-con .amount dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#cart .cart-con .amount dt,
#cart .cart-con .amount dd {
  width: 50%;
  margin-bottom: 10px;
}
#cart .cart-con .amount dd {
  text-align: right;
}
#cart .cart-con .amount dt:last-of-type,
#cart .cart-con .amount dd:last-of-type {
  position: relative;
  margin-top: 40px;
  font-size: 1.25rem;
  font-weight: bold;
}
#cart .cart-con .amount dt:last-of-type::before,
#cart .cart-con .amount dd:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #A7A7A7;
}
#cart .cart-con .amount .btn-payment {
  width: 100%;
  text-align: center;
}

/* 회원가입 join.php, 로그인 login.php */
#join .join-con .main-title,
#join .login-con .main-title,
#login .join-con .main-title,
#login .login-con .main-title {
  text-align: center;
}
#join .join-con form,
#join .login-con form,
#login .join-con form,
#login .login-con form {
  width: 686px;
  margin: auto;
}
#join .join-con .input-box,
#join .login-con .input-box,
#login .join-con .input-box,
#login .login-con .input-box {
  margin-bottom: 30px;
}
#join .join-con label,
#join .login-con label,
#login .join-con label,
#login .login-con label {
  display: block;
  margin-bottom: 16px;
}
#join .join-con label .red,
#join .login-con label .red,
#login .join-con label .red,
#login .login-con label .red {
  color: #ED0E02;
}
#join .join-con label .gray,
#join .login-con label .gray,
#login .join-con label .gray,
#login .login-con label .gray {
  color: #A7A7A7;
}
#join .join-con input,
#join .login-con input,
#login .join-con input,
#login .login-con input {
  width: 100%;
  padding: 0 10px;
  line-height: 50px;
  border-radius: 13px;
  border: 1px solid #A7A7A7;
}
#join .join-con .ck-box,
#join .login-con .ck-box,
#login .join-con .ck-box,
#login .login-con .ck-box {
  margin-bottom: 30px;
}
#join .join-con .ck-box li,
#join .login-con .ck-box li,
#login .join-con .ck-box li,
#login .login-con .ck-box li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
#join .join-con .ck-box li:last-child,
#join .login-con .ck-box li:last-child,
#login .join-con .ck-box li:last-child,
#login .login-con .ck-box li:last-child {
  margin-bottom: 0;
}
#join .join-con .ck-box input,
#join .login-con .ck-box input,
#login .join-con .ck-box input,
#login .login-con .ck-box input {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  line-height: 1;
  border-radius: 0;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
}
#join .join-con .ck-box label,
#join .login-con .ck-box label,
#login .join-con .ck-box label,
#login .login-con .ck-box label {
  margin-bottom: 0;
}
#join .join-con .btn2,
#join .login-con .btn2,
#login .join-con .btn2,
#login .login-con .btn2 {
  font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
  font-size: 1.375rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
#join .join-con .input-box-id,
#join .login-con .input-box-id,
#login .join-con .input-box-id,
#login .login-con .input-box-id {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#join .join-con .input-box-id label,
#join .login-con .input-box-id label,
#login .join-con .input-box-id label,
#login .login-con .input-box-id label {
  width: 100%;
}
#join .join-con .input-box-id input,
#join .login-con .input-box-id input,
#login .join-con .input-box-id input,
#login .login-con .input-box-id input {
  width: 454px;
}
#join .join-con .input-box-id .btn-id,
#join .login-con .input-box-id .btn-id,
#login .join-con .input-box-id .btn-id,
#login .login-con .input-box-id .btn-id {
  width: 222px;
}

#login .join-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .join-box a {
  display: block;
  position: relative;
  margin: 0 10px;
  color: #A7A7A7;
}
#login .join-box a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 1px;
  height: 100%;
  background: #A7A7A7;
}
#login .join-box a:last-child::after {
  display: none;
}

/* 극장 > 전체극장 theater-search.php */
#theater-search {
  position: relative;
}
#theater-search .ts-con .bg {
  width: 100%;
  height: calc(100vh - 88px);
}
#theater-search .ts-con .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#theater-search .ts-con form {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 88px);
  background: #fff;
}
#theater-search .ts-con .title-box {
  padding: 60px 30px;
}
#theater-search .ts-con .title-box p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#theater-search .ts-con .title-box p:last-of-type {
  margin-bottom: 0;
}
#theater-search .ts-con .title-box select,
#theater-search .ts-con .title-box input {
  width: 100%;
  padding: 16px 28px;
  border: 1px solid #ED0E02;
  border-radius: 45px;
  font-size: 1rem;
}
#theater-search .ts-con .title-box input[type=submit] {
  width: 105px;
  margin-left: 15px;
  border: none;
  border-radius: 24px;
  font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
  font-size: 1.375rem;
  transition: 0.3s;
  cursor: pointer;
}
#theater-search .ts-con .title-box option {
  font-size: 1rem;
}
#theater-search .ts-con .list-box {
  overflow-y: scroll;
  height: calc(100vh - 88px - 334px);
}
#theater-search .ts-con .list-box .list-title {
  padding: 20px 30px;
  background: #121212;
  color: #fff;
  font-size: 1.25rem;
}
#theater-search .ts-con .list-box .list > li {
  padding: 30px 30px;
  background: #F4F4F4;
  border-bottom: 1px solid #A7A7A7;
}
#theater-search .ts-con .list-box .list > li:nth-child(even) {
  background: #fff;
}
#theater-search .ts-con .list-box h4 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}
#theater-search .ts-con .list-box p {
  margin-bottom: 40px;
}
#theater-search .ts-con .list-box .item {
  display: flex;
  gap: 10px;
}
#theater-search .ts-con .list-box .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 시사회 & 전시회 */
#preview {
  background-color: #242424;
}
#preview .pre-section .inner {
  background: url("../images/sub/previewbg.png") no-repeat center;
}
#preview .pre-section .inner .box {
  max-width: 1030px;
  width: 73.5714285714vw;
  position: relative;
  margin: 0 auto;
}
#preview .pre-section .inner .box > h2 {
  border-bottom: 1px solid #242424;
}
#preview .pre-section .inner .box > p {
  border-bottom: 1px solid #242424;
}
#preview .pre-section .inner .btns {
  text-align: center;
  padding: 60px 0px;
}
#preview .pre-section .inner .btns input[type=radio] {
  display: none;
}
#preview .pre-section .inner .btns label[for=preview_btn] {
  margin-right: 20px;
}
#preview .pre-section .inner .pre_con,
#preview .pre-section .inner .greet_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 0px;
  padding: 20px 0;
}
#preview .pre-section .inner .pre_con li:nth-child(4n+1),
#preview .pre-section .inner .greet_con li:nth-child(4n+3) {
  transform: rotate(-5deg);
}
#preview .pre-section .inner .pre_con li:nth-child(4n+3),
#preview .pre-section .inner .greet_con li:nth-child(4n+1) {
  transform: rotate(5deg);
}
#preview .pre-section .inner .card {
  background-color: #242424;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  max-width: 570px;
  width: 40.7142857143vw;
  height: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#preview .pre-section .inner .card a {
  width: 100%;
  height: 100%;
}
#preview .pre-section .inner .card img {
  max-width: 300px;
  width: 21.4285714286vw;
  margin: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
}
#preview .pre-section .inner .card .txt-wrap {
  position: relative;
  display: block;
  color: #fff;
  max-width: 300px;
  width: 21.4285714286vw;
  height: 260px;
  transform: translate(260px, -340px);
}
#preview .pre-section .inner .card .txt-wrap .txt,
#preview .pre-section .inner .card .txt-wrap span,
#preview .pre-section .inner .card .txt-wrap p {
  position: absolute;
}
#preview .pre-section .inner .card .txt-wrap .txt {
  top: 80px;
}
#preview .pre-section .inner .card .txt-wrap .txt .title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
#preview .pre-section .inner .card .txt-wrap .txt h4 {
  text-indent: 16px;
}
#preview .pre-section .inner .card .txt-wrap .txt p {
  width: 200px;
  left: 16px;
}
#preview .pre-section .inner .card .txt-wrap .type {
  right: 0px;
}
#preview .pre-section .inner .card .txt-wrap .day {
  transform: rotate(90deg);
  right: -80px;
  top: 140px;
}

/* 영화 예매 */
#reservation .rv-con .main-title {
  text-align: center;
}
#reservation .rv-con form {
  display: flex;
  border: 1px solid #121212;
}
#reservation .rv-con form label {
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
#reservation .rv-con .rv-area {
  width: 65.5714285714vw;
}
#reservation .rv-con .movie-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: radial-gradient(#8A8A8A, #242424);
}
#reservation .rv-con .movie-box input {
  display: none;
}
#reservation .rv-con .movie-box img {
  border: 2px solid transparent;
  transition: 0.3s;
}
#reservation .rv-con .movie-box p {
  color: #fff;
}
#reservation .rv-con .movie-box input:checked + label img {
  border-color: #ED0E02;
}
#reservation .rv-con .rv-title {
  display: block;
  background: #F4F4F4;
}
#reservation .rv-con .rv-title2 {
  display: inline-block;
  background: #121212;
  color: #fff;
}
#reservation .rv-con .date-box .date {
  display: flex;
  gap: 16px;
}
#reservation .rv-con .date-box li {
  text-align: center;
}
#reservation .rv-con .date-box input {
  display: none;
}
#reservation .rv-con .date-box span {
  display: block;
}
#reservation .rv-con .date-box span.blue {
  color: #6385C8;
}
#reservation .rv-con .date-box span.red {
  color: #FF6767;
}
#reservation .rv-con .date-box input:checked + label {
  background: #FC5555;
}
#reservation .rv-con .theater-box .theater {
  display: flex;
  gap: 26px;
}
#reservation .rv-con .theater-box input {
  display: none;
}
#reservation .rv-con .theater-box input:checked + label {
  background: #FC5555;
}
#reservation .rv-con .hall-box .hall {
  display: flex;
  gap: 26px;
}
#reservation .rv-con .hall-box li {
  text-align: center;
}
#reservation .rv-con .hall-box input {
  display: none;
}
#reservation .rv-con .hall-box input:checked + label {
  background: #FC5555;
}
#reservation .rv-con .hall-box span {
  display: block;
}
#reservation .rv-con .info-area {
  width: calc(100% - 65.5714285714vw);
  background: #121212;
}
#reservation .rv-con .info-box {
  width: 226px;
  margin: auto;
  padding: 80px 0;
}
#reservation .rv-con .info-box .img {
  margin: auto;
}
#reservation .rv-con .info-box span {
  display: block;
  color: #fff;
  text-align: center;
}
#reservation .rv-con .info-box dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#reservation .rv-con .info-box dt {
  width: 60px;
}
#reservation .rv-con .info-box dd {
  width: calc(100% - 60px);
  text-align: right;
}
#reservation .rv-con .info-box input {
  width: 100%;
  margin: auto;
  border: none;
  font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
#reservation .rv-con .info-box input:hover {
  background: #ED0E02;
}

@media screen and (max-width: 768px) {
  /* 장바구니 cart.php */
  #cart .cart-con {
    overflow: hidden;
  }
  #cart .cart-con .con {
    display: block;
  }
  #cart .cart-con .movies {
    max-width: none;
    width: 100%;
  }
  #cart .cart-con .movies li {
    padding: 20px 30px;
  }
  #cart .cart-con .movies li::before, #cart .cart-con .movies li::after {
    width: 4.6875vw;
    height: 41.40625vw;
    background-image: url("../images/sub/cart-movie-icon01_mo.png");
  }
  #cart .cart-con .movies li::before {
    left: -2.34375vw;
  }
  #cart .cart-con .movies li::after {
    right: -2.34375vw;
  }
  #cart .cart-con .movies .img-box {
    overflow: hidden;
    width: 26.0416666667vw;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }
  #cart .cart-con .movies .img-box::after {
    display: none;
  }
  #cart .cart-con .movies .txt-box {
    width: calc(100% - 26.0416666667vw);
    padding: 0;
  }
  #cart .cart-con .movies .m-tit {
    margin-bottom: 1rem;
  }
  #cart .cart-con .amount {
    max-width: none;
    width: 100%;
  }
  #cart .cart-con .amount .a-tit {
    font-size: 1.375rem;
  }
  #cart .cart-con .amount dt:last-of-type,
  #cart .cart-con .amount dd:last-of-type {
    font-size: 1rem;
  }
  /* 회원가입 join.php, 로그인 login.php */
  #join .join-con form,
  #join .login-con form,
  #login .join-con form,
  #login .login-con form {
    max-width: 640px;
    width: 100%;
  }
  #join .join-con .input-box,
  #join .login-con .input-box,
  #login .join-con .input-box,
  #login .login-con .input-box {
    margin-bottom: 1rem;
  }
  #join .join-con label,
  #join .login-con label,
  #login .join-con label,
  #login .login-con label {
    margin-bottom: 0.5rem;
  }
  #join .join-con input,
  #join .login-con input,
  #login .join-con input,
  #login .login-con input {
    font-size: 1rem;
    line-height: 2.75rem;
  }
  #join .join-con .ck-box,
  #join .login-con .ck-box,
  #login .join-con .ck-box,
  #login .login-con .ck-box {
    margin-bottom: 1rem;
  }
  #join .join-con .ck-box input,
  #join .login-con .ck-box input,
  #login .join-con .ck-box input,
  #login .login-con .ck-box input {
    width: 0.78125rem;
    height: 0.78125rem;
  }
  #join .join-con .input-box-id,
  #join .login-con .input-box-id,
  #login .join-con .input-box-id,
  #login .login-con .input-box-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 10px;
  }
  #join .join-con .input-box-id label,
  #join .login-con .input-box-id label,
  #login .join-con .input-box-id label,
  #login .login-con .input-box-id label {
    width: 100%;
  }
  #join .join-con .input-box-id input,
  #join .login-con .input-box-id input,
  #login .join-con .input-box-id input,
  #login .login-con .input-box-id input {
    width: calc(100% - 28.6458333333vw - 10px);
  }
  #join .join-con .input-box-id .btn-id,
  #join .login-con .input-box-id .btn-id,
  #login .join-con .input-box-id .btn-id,
  #login .login-con .input-box-id .btn-id {
    width: 28.6458333333vw;
    padding: 14px 0;
  }
  /* 극장 > 전체극장 theater-search.php */
  #theater-search .ts-con .bg {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    height: 52.0833333333vw;
  }
  #theater-search .ts-con form {
    position: static;
    height: auto;
  }
  #theater-search .ts-con .title-box {
    margin-bottom: 52.0833333333vw;
    padding: 1.875rem 0.625rem;
  }
  #theater-search .ts-con .title-box input[type=search] {
    width: calc(100% - 15px - 23.4375vw);
  }
  #theater-search .ts-con .title-box input[type=submit] {
    width: 23.4375vw;
    padding: 16px 10px;
    border-radius: 40px;
  }
  #theater-search .ts-con .list-box {
    height: auto;
  }
  #theater-search .ts-con .list-box .list-title {
    padding: 0.9375rem 1.25rem;
  }
  #theater-search .ts-con .list-box .list > li {
    padding: 0.9375rem 1.25rem;
  }
  #theater-search .ts-con .list-box p {
    margin-bottom: 1.875rem;
    line-height: 1.4;
  }
  #theater-search .ts-con .list-box .item a {
    width: 13.0208333333vw;
  }
  #theater-search .ts-con .list-box .item img {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  /* 극장 > 전체극장 theater-search.php */
  #theater-search .ts-con .bg {
    top: 310px;
  }
}
@media screen and (max-width: 480px) {
  /* 장바구니 cart.php */
  #cart .cart-con .movies li {
    padding: 20px;
  }
  #cart .cart-con .movies dt {
    width: 70px;
  }
  #cart .cart-con .movies dd {
    width: calc(100% - 70px);
  }
  /* 극장 > 전체극장 theater-search.php */
  #theater-search .ts-con .bg {
    top: 230px;
  }
}/*# sourceMappingURL=sub.css.map */