@charset "uft-8";

@use 'base' as *;

/* 장바구니 cart.php */
#cart {
  .cart-con {
    background: $color-main-lg;

    .con {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .movies {
      max-width: 686px;
      width: pc-vw(686);

      li {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
        background: $color-main-bk;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          width: 25px;
          height: 210px;
          background: url('../images/sub/cart-movie-icon01.png') no-repeat center / cover;
        }

        &::before {
          left: -13px;
        }

        &::after {
          right: -13px;
        }
      }

      .img-box {
        position: relative;
        width: 150px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -4px;
          width: 8px;
          height: 220px;
          background: url('../images/sub/cart-movie-icon02.png') no-repeat center / cover;
        }
      }

      img {
        display: block;
        width: 100%;
      }

      .txt-box {
        width: calc(100% - 150px);
        padding: 30px;
      }

      .m-tit {
        display: block;
        margin-bottom: 20px;
        color: $color-main-w;
        font-size: $fs-basic-big;
      }

      dl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10px;
      }

      dt,
      dd {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      dt {
        width: 40%;
        color: $color-main-g;
      }

      dd {
        width: 60%;
        color: $color-main-w;
        text-align: right;
      }
    }

    .amount {
      max-width: 580px;
      width: pc-vw(580);

      .price {
        margin-bottom: 40px;
        padding: 30px 40px;
        background: $color-main-w;
      }

      .a-tit {
        margin-bottom: 20px;
        font-size: 1.875rem; // 30px
      }

      dl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      dt,
      dd {
        width: 50%;
        margin-bottom: 10px;
      }

      dd {
        text-align: right;
      }

      dt:last-of-type,
      dd:last-of-type {
        position: relative;
        margin-top: 40px;
        font-size: $fs-basic-big;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $color-main-g;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con {
      .movies {
        dl {
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con {
      .con {
        display: block;
      }

      .movies {
        max-width: none;
        width: 100%;

        li {
          padding: 20px 40px;

          &::before,
          &::after {
            width: mo-vw(36);
            height: mo-vw(318);
            background-image: url('../images/sub/cart-movie-icon01_mo.png');
          }

          &::before {
            left: -(mo-vw(18));
          }

          &::after {
            right: -(mo-vw(18));
          }
        }

        .img-box {
          overflow: hidden;
          width: mo-vw(200);
          margin-right: 1rem;
          border-radius: 0.5rem;

          &::after {
            display: none;
          }
        }

        .txt-box {
          width: calc(100% - mo-vw(200));
          padding: 0;
        }

        .m-tit {
          margin-bottom: 1rem;
        }

        dl {
          padding: 0;
        }
      }

      .amount {
        max-width: none;
        width: 100%;

        .a-tit {
          font-size: mo-rem(44);
        }

        dt,
        dd {
          &:last-of-type {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con .movies li {
      padding: 20px;
    }
  }
}