@charset "uft-8";

@use 'base' as *;

/* 장바구니 cart.php */
#cart {
  .cart-con {
    background: $color-main-lg;

    .con {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .movies {
      max-width: 686px;
      width: pc-vw(686);

      li {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
        background: $color-main-bk;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          width: 25px;
          height: 210px;
          background: url('../images/sub/cart-movie-icon01.png') no-repeat center / cover;
        }

        &::before {
          left: -13px;
        }

        &::after {
          right: -13px;
        }
      }

      .img-box {
        position: relative;
        width: 150px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -4px;
          width: 8px;
          height: 220px;
          background: url('../images/sub/cart-movie-icon02.png') no-repeat center / cover;
        }
      }

      img {
        display: block;
        width: 100%;
      }

      .txt-box {
        width: calc(100% - 150px);
        padding: 0 30px;
      }

      .m-tit {
        display: block;
        margin-bottom: 20px;
        color: $color-main-w;
        font-size: $fs-basic-big;
        font-weight: bold;
      }

      dl {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }

      dt,
      dd {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      dt {
        width: 110px;
        color: $color-main-g;
      }

      dd {
        width: calc(100% - 110px);
        color: $color-main-w;
        text-align: right;
      }

      .m-price {
        display: block;
        color: $color-main-w;
        font-size: $fs-basic-big;
        text-align: right;
        font-weight: bold;
      }
    }

    .amount {
      max-width: 580px;
      width: pc-vw(580);

      .price {
        margin-bottom: 40px;
        padding: 30px 40px;
        background: $color-main-w;
      }

      .a-tit {
        margin-bottom: 20px;
        font-size: 1.875rem; // 30px
      }

      dl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      dt,
      dd {
        width: 50%;
        margin-bottom: 10px;
      }

      dd {
        text-align: right;
      }

      dt:last-of-type,
      dd:last-of-type {
        position: relative;
        margin-top: 40px;
        font-size: $fs-basic-big;
        font-weight: bold;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $color-main-g;
        }
      }

      .btn-payment {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* 회원가입 join.php */
#join {
  .join-con {
    .main-title {
      text-align: center;
    }

    form {
      width: 686px;
      margin: auto;
    }

    .input-box {
      margin-bottom: 30px;
    }

    label {
      display: block;
      margin-bottom: 16px;

      .red {
        color: $color-main-r;
      }

      .gray {
        color: $color-main-g;
      }
    }

    input {
      width: 100%;
      padding: 0 10px;
      line-height: 50px;
      border-radius: 13px;
      border: 1px solid $color-main-g;
    }

    .ck-box {
      margin-bottom: 30px;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input {
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        line-height: 1;
        border-radius: 0;
        border: 1px solid $color-main-g;
        border-radius: 3px;
      }

      label {
        margin-bottom: 0;
      }
    }

    .btn-join {
      font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
      font-size: $fs-nav;
      border: none;
      transition: 0.3s;
      cursor: pointer;
    }

    // 아이디
    .input-box-id {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        width: 100%;
      }

      input {
        width: 454px;
      }

      .btn-id {
        width: 222px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {}

@media screen and (max-width: 768px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con {
      overflow: hidden;

      .con {
        display: block;
      }

      .movies {
        max-width: none;
        width: 100%;

        li {
          padding: 20px 30px;

          &::before,
          &::after {
            width: mo-vw(36);
            height: mo-vw(318);
            background-image: url('../images/sub/cart-movie-icon01_mo.png');
          }

          &::before {
            left: -(mo-vw(18));
          }

          &::after {
            right: -(mo-vw(18));
          }
        }

        .img-box {
          overflow: hidden;
          width: mo-vw(200);
          margin-right: 1rem;
          border-radius: 0.5rem;

          &::after {
            display: none;
          }
        }

        .txt-box {
          width: calc(100% - mo-vw(200));
          padding: 0;
        }

        .m-tit {
          margin-bottom: 1rem;
        }
      }

      .amount {
        max-width: none;
        width: 100%;

        .a-tit {
          font-size: mo-rem(44);
        }

        dt,
        dd {
          &:last-of-type {
            font-size: 1rem;
          }
        }
      }
    }
  }

  /* 회원가입 join.php */
  #join {
    .join-con {
      form {
        max-width: 640px;
        width: 100%;
      }

      .input-box {
        margin-bottom: mo-rem(32);
      }

      label {
        margin-bottom: mo-rem(16);
      }

      input {
        font-size: 1rem;
        line-height: mo-rem(88);
      }

      .ck-box {
        margin-bottom: mo-rem(32);

        input {
          width: mo-rem(25);
          height: mo-rem(25);
        }
      }

      // 아이디
      .input-box-id {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 10px;

        label {
          width: 100%;
        }

        input {
          width: calc(100% - mo-vw(220) - 10px);
        }

        .btn-id {
          width: mo-vw(220);
          padding: 14px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con .movies li {
      padding: 20px;
    }

    .cart-con .movies dt {
      width: 70px;
    }

    .cart-con .movies dd {
      width: calc(100% - 70px);
    }
  }
}