@charset "uft-8";

@use 'base' as *;

/* 장바구니 cart.php */
#cart {
  .cart-con {
    background: $color-main-lg;

    .con {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .movies {
      max-width: 686px;
      width: pc-vw(686);

      li {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
        background: $color-main-bk;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          width: 25px;
          height: 210px;
          background: url('../images/sub/cart-movie-icon01.png') no-repeat center / cover;
        }

        &::before {
          left: -13px;
        }

        &::after {
          right: -13px;
        }
      }

      .img-box {
        position: relative;
        width: 150px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -4px;
          width: 8px;
          height: 220px;
          background: url('../images/sub/cart-movie-icon02.png') no-repeat center / cover;
        }
      }

      img {
        display: block;
        width: 100%;
      }

      .txt-box {
        width: calc(100% - 150px);
        padding: 0 30px;
      }

      .m-tit {
        display: block;
        margin-bottom: 20px;
        color: $color-main-w;
        font-size: $fs-basic-big;
        font-weight: bold;
      }

      dl {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }

      dt,
      dd {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      dt {
        width: 110px;
        color: $color-main-g;
      }

      dd {
        width: calc(100% - 110px);
        color: $color-main-w;
        text-align: right;
      }

      .m-price {
        display: block;
        color: $color-main-w;
        font-size: $fs-basic-big;
        text-align: right;
        font-weight: bold;
      }
    }

    .amount {
      max-width: 580px;
      width: pc-vw(580);

      .price {
        margin-bottom: 40px;
        padding: 30px 40px;
        background: $color-main-w;
      }

      .a-tit {
        margin-bottom: 20px;
        font-size: 1.875rem; // 30px
      }

      dl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      dt,
      dd {
        width: 50%;
        margin-bottom: 10px;
      }

      dd {
        text-align: right;
      }

      dt:last-of-type,
      dd:last-of-type {
        position: relative;
        margin-top: 40px;
        font-size: $fs-basic-big;
        font-weight: bold;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -20px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $color-main-g;
        }
      }

      .btn-payment {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* 회원가입 join.php, 로그인 login.php */
#join,
#login {

  .join-con,
  .login-con {
    .main-title {
      text-align: center;
    }

    form {
      width: 686px;
      margin: auto;
    }

    .input-box {
      margin-bottom: 30px;
    }

    label {
      display: block;
      margin-bottom: 16px;

      .red {
        color: $color-main-r;
      }

      .gray {
        color: $color-main-g;
      }
    }

    input {
      width: 100%;
      padding: 0 10px;
      line-height: 50px;
      border-radius: 13px;
      border: 1px solid $color-main-g;
    }

    .ck-box {
      margin-bottom: 30px;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input {
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        line-height: 1;
        border-radius: 0;
        border: 1px solid $color-main-g;
        border-radius: 3px;
      }

      label {
        margin-bottom: 0;
      }
    }

    .btn2 {
      font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
      font-size: $fs-nav;
      border: none;
      transition: 0.3s;
      cursor: pointer;
    }

    // 아이디
    .input-box-id {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        width: 100%;
      }

      input {
        width: 454px;
      }

      .btn-id {
        width: 222px;
      }
    }
  }
}

#login {
  .join-box {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      position: relative;
      margin: 0 10px;
      color: $color-main-g;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
        width: 1px;
        height: 100%;
        background: $color-main-g;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

/* 극장 > 전체극장 theater-search.php */
#theater-search {
  position: relative;

  .ts-con {

    .bg {
      width: 100%;
      height: 100vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    form {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      background: $color-main-w;
    }

    .title-box {
      padding: 60px 30px;

      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      select,
      input {
        width: 100%;
        padding: 16px 28px;
        border: 1px solid $color-main-r;
        border-radius: 45px;
        font-size: 1rem;
      }

      input[type="submit"] {
        width: 105px;
        margin-left: 15px;
        border: none;
        border-radius: 24px;
        font-family: "NanumSquareRound", "Nanum Gothic", sans-serif;
        font-size: 1.375rem;
        transition: 0.3s;
        cursor: pointer;
      }

      option {
        font-size: 1rem;
      }
    }

    .list-box {
      overflow-y: scroll;
      height: calc(100vh - 332px);

      .list-title {
        padding: 20px 30px;
        background: $color-main-bk;
        color: $color-main-w;
        font-size: $fs-basic-big;
      }

      .list {
        >li {
          padding: 30px 30px;
          background: $color-main-lg;
          border-bottom: 1px solid $color-main-g;

          &:nth-child(even) {
            background: $color-main-w;
          }
        }
      }

      h4 {
        margin-bottom: 10px;
        font-size: $fs-basic-big;
        font-weight: bold;
      }

      p {
        margin-bottom: 40px;
      }

      .item {
        display: flex;
        gap: 10px;

        li {}

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}

/*시사회 & 전시회*/
#preview {
  //배경색 넣기
  background-color: $color-main-dg;

  .pre-section {
    .inner {
      //배경이미지 넣기
      background: url('../images/sub/previewbg.png') no-repeat center;

      .box {
        //배경가운데로
        max-width: 1030px;
        width: pc-vw(1030);
        position: relative;
        margin: 0 auto;

        >h2 {
          //시사회무대인사
          border-bottom: 1px solid $color-main-dg;
        }

        >p {
          //시사회도 CGV에서~
          border-bottom: 1px solid $color-main-dg;
        }
      }

      .btns {
        //버튼서식
        text-align: center;
        padding: 60px 0px;

        input[type=radio] {
          //라디오숨기기
          display: none;
        }

        label[for="preview_btn"] {
          //간격주기
          margin-right: 20px;
        }
      }

      .pre_con,
      .greet_con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 0px; //카드 간격
        padding: 20px 0;
      }

      //기울기 주기
      .pre_con li:nth-child(4n + 1),
      .greet_con li:nth-child(4n + 3) {
        transform: rotate(-5deg);
      }

      .pre_con li:nth-child(4n + 3),
      .greet_con li:nth-child(4n + 1) {
        transform: rotate(5deg);
      }

      //카드형식
      .card {
        background-color: $color-main-dg;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        margin-bottom: 50px;

        max-width: 570px;
        width: pc-vw(570);
        height: 350px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        img {
          max-width: 300px;
          width: pc-vw(300);
          margin: 25px;
          object-fit: cover;
          border-radius: 10%;
        }

        figcaption {
          position: relative;
          display: block;
          color: $color-main-w;
          max-width: 300px;
          width: pc-vw(300);
          height: 260px;
          transform: translate(260px, -340px);

          .txt-wrap,
          span,
          p {
            position: absolute;
          }

          .txt-wrap {
            top: 80px;

            .title {
              font-size: 60px;
              font-weight: bold;
              margin-bottom: 20px;
            }

            h4 {
              text-indent: 16px;
            }

            p {
              width: 200px;
              left: 16px;
            }
          }

          .type {
            right: 0px;
          }

          .day {
            transform: rotate(90deg);
            right: -80px;
            top: 140px;

          }
        }

      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {}

@media screen and (max-width: 768px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con {
      overflow: hidden;

      .con {
        display: block;
      }

      .movies {
        max-width: none;
        width: 100%;

        li {
          padding: 20px 30px;

          &::before,
          &::after {
            width: mo-vw(36);
            height: mo-vw(318);
            background-image: url('../images/sub/cart-movie-icon01_mo.png');
          }

          &::before {
            left: -(mo-vw(18));
          }

          &::after {
            right: -(mo-vw(18));
          }
        }

        .img-box {
          overflow: hidden;
          width: mo-vw(200);
          margin-right: 1rem;
          border-radius: 0.5rem;

          &::after {
            display: none;
          }
        }

        .txt-box {
          width: calc(100% - mo-vw(200));
          padding: 0;
        }

        .m-tit {
          margin-bottom: 1rem;
        }
      }

      .amount {
        max-width: none;
        width: 100%;

        .a-tit {
          font-size: mo-rem(44);
        }

        dt,
        dd {
          &:last-of-type {
            font-size: 1rem;
          }
        }
      }
    }
  }

  /* 회원가입 join.php, 로그인 login.php */
  #join,
  #login {

    .join-con,
    .login-con {
      form {
        max-width: 640px;
        width: 100%;
      }

      .input-box {
        margin-bottom: mo-rem(32);
      }

      label {
        margin-bottom: mo-rem(16);
      }

      input {
        font-size: 1rem;
        line-height: mo-rem(88);
      }

      .ck-box {
        margin-bottom: mo-rem(32);

        input {
          width: mo-rem(25);
          height: mo-rem(25);
        }
      }

      // 아이디
      .input-box-id {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 10px;

        label {
          width: 100%;
        }

        input {
          width: calc(100% - mo-vw(220) - 10px);
        }

        .btn-id {
          width: mo-vw(220);
          padding: 14px 0;
        }
      }
    }
  }

  /* 극장 > 전체극장 theater-search.php */
  #theater-search {
    .ts-con {
      .bg {
        position: absolute;
        top: 390px;
        left: 50%;
        transform: translateX(-50%);
        height: mo-vw(400);
      }

      form {
        position: static;
        height: auto;
      }

      .title-box {
        margin-bottom: mo-vw(400);
        padding: mo-rem(60) mo-rem(20);

        input[type="search"] {
          width: calc(100% - 15px - mo-vw(180));
        }

        input[type="submit"] {
          width: mo-vw(180);
          padding: 16px 10px;
          border-radius: 40px;
        }
      }

      .list-box {
        height: auto;

        .list-title {
          padding: mo-rem(30) mo-rem(40);
        }

        .list {
          >li {
            padding: mo-rem(30) mo-rem(40);
          }
        }

        p {
          margin-bottom: mo-rem(60);
          line-height: 1.4;
        }

        .item {
          a {
            width: mo-vw(100);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {

  /* 극장 > 전체극장 theater-search.php */
  #theater-search {
    .ts-con .bg {
      top: 310px;
    }
  }
}

@media screen and (max-width: 480px) {

  /* 장바구니 cart.php */
  #cart {
    .cart-con .movies li {
      padding: 20px;
    }

    .cart-con .movies dt {
      width: 70px;
    }

    .cart-con .movies dd {
      width: calc(100% - 70px);
    }
  }

  /* 극장 > 전체극장 theater-search.php */
  #theater-search {
    .ts-con .bg {
      top: 230px;
    }
  }
}